/* CSS RESET */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box
}

:root {
   --white: #fff;
   --blood-orange: #f7511d;
   --beige: #f7eee3;
}

body {
   max-width: 100vw;
   font-family: 'Roboto', sans-serif;
}

/* BANNER */

header {
   display: flex;
   flex-direction: column;
}

.w3-content{
   position: relative;
   width: 100%;
   height: 50vh;
}

@media (min-width: 600px) {
   .w3-content {
      position: relative;
      width: 100%;
      height: 70vh;
   }
}

.mySlides {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 80%;
}

.text-container  {
   position: absolute;
   top: 20%;


}

.text-container h3 {
   font-size: 2.5em;
   color: var(--white);
   text-align: center;
   /*padding-top: 0.5em;*/

}

.text-container p {
   padding-top: 1em;
   font-size: 1em;
   color: var(--white);
   text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 640px){
   .text-container  {
      position: absolute;
      background: rgba(0, 0, 0, .2);
      top: 41.5%;
      left: 22%;
      width: 58em;
      height: 15em;
      border-radius: 10px 10px 0px 0px;
   }

   .text-container h3 {
      font-size: 5em;
      color: var(--white);
      text-align: center;
      padding-top: 0.5em;


   }

   .text-container p {
      font-size: 1.5em;
      color: var(--white);
      text-align: center;
   }
}

/* INTRO SECTION  */

h4 {
   color: var(--blood-orange);
   font-size: 2em;
   padding-top: 2em;
   text-align: center;
   font-weight: normal;

}

.flex-wrapper-intro{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.flex-wrapper-intro p {
   font-size: 1em;
   padding-top: 3em;
   padding-left: 0.5em;
   width: 300px;
}

.flex-wrapper-intro span {
   font-weight: bold;
}

/* SLIDE IN ANIMATIONS*/
/* BOVEN NAAR ONDER*/
.reveal{
   position: relative;
   transform: translateY(150px);
   opacity: 0;
   transition: 2s all ease;
}
.reveal.active{
   transform: translateY(0);
   opacity: 1;
}

/* RECHTS NAAR LINKS */
.reveal2{
   position: relative;
   transform: translateX(150px);
   opacity: 0;
   transition: 2s all ease;
}
.reveal2.active{
   transform: translateX(0);
   opacity: 1;
}

/* LINKS NAAR RECHTS*/
.reveal3{
   position: relative;
   transform: translateX(-150px);
   opacity: 0;
   transition: 2s all ease;
}
.reveal3.active{
   transform: translateX(0);
   opacity: 1;
}


@media (min-width: 640px) {
   h4{
      font-size: 4em;
      padding-top: 2em;
      text-align: center;
      font-weight: normal;
   }

   .flex-wrapper-intro{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   .flex-wrapper-intro p {
      padding-top: 3em;
      width: 500px;
      padding-left: 2em;
   }
}

/*VIDEO SECTION*/
.video-section {
   display: flex;
   flex-direction: row;
   padding-top: 2em;
   justify-content: center;
   align-items: center;
}

.video-section h5 {
 text-align: center;
   font-size: 1.5em;
   color: black;
   font-weight: normal;
}

.video-section img {
   padding-top: 2em;
   width: 20em;
}

@media (min-width: 640px) {
   .video-section {
      display: flex;
      flex-direction: column;
      padding-top: 10em;
      justify-content: center;
      align-items: center;
   }

   .video-section img {
      padding-top: 1em;
      width: 40em;
   }
}

/* JOB DESCRIPTION */




.flex-container-job-description{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 9;

}


.flex-wrapper-job-description-2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 5em;
}

.flex-wrapper-job-description-2 p {
   padding-top: 3em;
   width: 300px;
   text-align: left;
}

.flex-wrapper-job-description-2 h6 {
   font-size: 1.5em;
   color: var(--blood-orange);
   font-weight: normal;
}

.flex-wrapper-job-description {
   padding-top: 4em;
   justify-content: center;
   align-items: center;
}

.flex-wrapper-job-description img {
   width: 15em;
}






@media (min-width: 640px) {
   .flex-container-job-description{
      display: flex;
      flex-direction: row-reverse;
      margin-top: 10em;
   }

   .flex-wrapper-job-description img {
      width: 18em;
      opacity: 80%;
   }

   .flex-wrapper-job-description {
      display: flex;
      flex-direction: column;

   }

   .flex-wrapper-job-description-2{
      padding-left: 5em;
      padding-bottom: 2em;

   }

   .flex-wrapper-job-description-2 h6 {
      font-size: 2em;
      color: var(--blood-orange);
      font-weight: normal;
      padding-right: 2.4em;

   }

   .flex-wrapper-job-description-2 p {
      padding-top: 2em;
      width: 500px;
      text-align: left;
      font-size: 1em;
   }



   /*.flex-wrapper-job-description-2 h6 {*/
   /*   font-size: 1.5em;*/
   /*   font-weight: normal;*/
   /*   text-align: left;*/

   /*}*/

   /*.flex-wrapper-job-description-2 ul {*/
   /*   padding-top: 1em;*/
   /*   text-align: left;*/
   /*   padding-left: 1em;*/

   /*}*/

   /*li span {*/
   /*   color: black;*/
   /*}*/

   /*li {*/
   /*   margin: 10px;*/
   /*   padding-left: 1em;*/
   /*   width: 330px;*/
   /*   color: var(--blood-orange);*/
   /*}*/


}






